footer#section-footer.footer-area
            #footer-top-footer.footer-top
                .container
                    .row
                        .column
                            .footer-widget
                                .footer-info-wrapper
                                    .footer-logo
                                        a(href='/home')
                                            img(src='/img/logo.png')
                                    p
                                        | Lorem ipsum dolor sit amet, co adipisi elit, sed eiusmod tempor incididunt ut
                                        | laboreet dolore
                                    .social-icon
                                        ul
                                            li
                                                a(href='#')
                                                    i.fa-brands.fa-twitter
                                            li
                                                a(href='#')
                                                    i.fa-brands.fa-instagram
                                            li
                                                a(href='#')
                                                    i.fa-brands.fa-facebook
                                            li
                                                a(href='#')
                                                    i.fa-brands.fa-skype
                                            li
                                                a(href='#')
                                                    i.fa-brands.fa-dribbble
                        .column
                            .footer-widget
                                h4.footer-title QUICK LINKS
                                .footer-content
                                    ul
                                        li
                                            a(href='/home') HOME
                                        li
                                            a(href='/aboutUs') ABOUT US
                                        li
                                            a(href='/finder') FINDER
                                        li
                                            a(href='/blog') BLOGS
                                        li
                                            a(href='/contact') CONTACTUS
                        .column
                            .footer-widget
                                h4.footer-title HELP
                                .footer-content
                                    ul
                                        li
                                            a(href='#') FAQ
                                        li
                                            a(href='#') PRICING PLANS
                                        li
                                            a(href='#') ORDER TRACKING
                                        li
                                            a(href='#') RETURNS 
                        .column
                            .footer-widget
                                .newsletter-wrapper
                                    p Subscribe to our newsletter and get 10% off your first purchase..
                                    .newsletter-style
                                        .subscribe-form
                                            form#Contact_footer.contact-form(method='post' action='' accept-charset='UTF-8')
                                                input(type='hidden' name='form_type' value='customer')
                                                input(type='hidden' name='utf8' value='✓')
                                                .validate
                                                    #mc_embed_signup_scroll.mc-form
                                                        .mc-form.subscribe-form
                                                            input.input_text(type='hidden' name='contact[tags]' value='newsletter')
                                                            input#Email.input_text(type='email' name='contact[email]' value='' placeholder='email@example.com' aria-label='email@example.com' autocorrect='off' autocapitalize='off')
                                                            .clear
                                                                input#Subscribe.button(type='submit' name='commit' value='SEND')
                                .payment-img
                                    a(href='#')
                                        img(src='/img/payment_large.webp' alt='')
            #footer-bottom-footer.footer-bottom
                .container
                    .row
                        .column
                            .copyright
                                p
                                    | Copyright &copy; 2024 
                                    a(href='#') Pets template
                                    |  | Built with 
                                    a(href='#') Ferry
                                    |  by 
                                    a(href='#') friendfinderThemes
                                    | .

