.container_login
      //- Display error message if flash message exists
      if flash.error
        .alert.alert-danger= flash.error

      //- Display success message if flash message exists
      if flash.success
        .alert.alert-success= flash.success
      form(action='/login', method='POST')
        label(for='email') Email:
        input#login_email(type='email', name='email', required='')
        label(for='password') Password:
        input#login_password(type='password', name='password', required='')
        input#login_submit(type='submit', value='Login')
        p
          a.register-link(href='/register', class='register-link') Not a user?  Create an account