.register-page
  .container
    //- Display error message if flash message exists
    if flash.error
      .alert.alert-danger= flash.error

    //- Display success message if flash message exists
    if flash.success
      .alert.alert-success= flash.success

    form(method="post", id="register-form")
      label(for='register_fname') First Name:
      input#register_fname(type='text', name='firstname', required='')
      label(for='register_lname') Last Name:
      input#register_lname(type='text', name='lastname', required='')
      label(for='register_email') Email:
      input#register_email(type='email', name='useremail', required='')
      label(for='register_phone') Phone Number:
      input#register_phone(type='tel', name='userphone', pattern='[0-9]{10}', required='')
      label(for="userType") User Type:
      select(type='usertype', name='usertype', required='')
          option(value="petOwner") Pet Owner
          option(value="petTrainer") Pet Trainer
      label(for='register_password') Password:
      input#register_password(type='password', name='password', required='')
      label(for='register_confirm_password') Confirm Password:
      input#register_confirm_password(type='password', name='confirm_password', required='')
      input#register_submit(type='submit', value='Register')


