extends layout
block content
    .body-content 
        section.aboutus
            .about-section
                h2 Blog
        section.blog-section
            .container
                .row
                    .shop-sidebar.blog-mrg
                        h4.shop-sidebar-title Blog Archive
                        .shop-list-style.mt-20
                            dl
                                dt August 2023
                                dd
                                    ul.blog_links
                                        li &raquo; 
                                            a(href='') Temporibus autem quibusdam,Temporibus autem quibusdam
                                        li &raquo; 
                                            a(href='') Temporibus autem quibusdam,Temporibus autem quibusdam
                                        li &raquo; 
                                            a(href='') Temporibus autem quibusdam,Temporibus autem quibusdam
                                        li &raquo; 
                                            a(href='') Temporibus autem quibusdam,Temporibus autem quibusdam
                            dl
                                dt December 2023
                                dd
                                    ul.blog_links
                                        li &raquo; 
                                            a(href='') Temporibus autem quibusdam
                                        li &raquo; 
                                            a(href='') Temporibus autem quibusdam
                                        li &raquo; 
                                            a(href='') Temporibus autem quibusdam
                                        li &raquo; 
                                            a(href='') Temporibus autem quibusdam
                    .blog-detail-page
                        .container
                            .row
                                .blog-img.mb-30
                                    img(src='/img/banner3.webp', alt='blog')
                                .blog-details-content
                                    h2 It is a long established fact that a reader will
                                    .blog-meta
                                        ul
                                            li Aug, 11 , 18
                                            li
                                                a(href='#')  7 comments
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehendit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qei officia deserunt mollit anim id est laborum.
                                    blockquote.importent-title
                                        h4 Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do eiusmod tempor incididunt labo dolor magna aliqua. Ut enim ad minim veniam quis nostrud.
                                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehendrit.
                        .dec-img-wrapper
                            .row
                                .column
                                    .dec-img
                                        img(src='/img/dog1.webp', alt='')
                                .column
                                    .dec-img.dec-mrg.res-mrg-top-2
                                        img(src='/img/dog2.webp', alt='')
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehendrit.
