extends layout

block content

    .body-content
        section.trainer
            section.trainerprofile
                .trainer-section
                    h1.heading Trainer Dashboard
            .container
                    .trainer-details
                        .trainer-description
                            h4 Pet name: Emi
                            h4 Pet Breed:
                            span.speciality Rotweiler
                            h4 Appointment Date:
                            span.speciality  10/5/2024
                            h4 Appointment Time:
                            span.speciality  11.00 am
            
                           
